@import url("../fonts/fonts.css");

#mainNav {
    padding: 0;
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    color: #212121;

}

@media (max-width: 768px) {
    #mainNav {
        padding: 20px;
        height: auto;
    }
}

@media (max-width: 768px) {
    header {
        margin: 0 !important;
    }
}



.navbar-brand {
    font-family: Open Sans Bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}

.nav-link {
    color: #212121 !important;
}

.nav-link:hover {
    color: #00897b !important;
}

header {
    height: 621px;
    margin: 117px 0 0 0;
    padding: 160px 0 0;
    background-image: url(../img/header2.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 992px) {
    header {
        height: auto;
    }
}


h1 {

    margin-bottom: 24px;
    font-family: Open Sans SemiBold;
    font-size: 57px;
    letter-spacing: 3px;
    line-height: 1.28;
}

#head-text {
    font-family: Open Sans Regular;
    font-size: 21px;
    margin-bottom: 102px;

    letter-spacing: 1.1px;
}

.top_button {
    padding-bottom: 92px;
}

.top {
    width: 209px;
    color: white;
    border: 3px solid #f8f8f8;
    border-color: white;
    font-family: Roboto Bold;
    font-size: 19px;
    padding: 16.5px 30px 16.5px 30px;
    border-radius: 0;
    letter-spacing: 1px;
}

.btn-text {
    color: white !important;
}

.btn-text:hover {
    text-decoration: none !important;
}

.top:hover {
    color: white;
    text-decoration: none;
    background: #00897b;
    border: 3px solid #00897b;
}

#top1 {
    margin-right: 12px;
}

#top2 {
    margin-left: 12px;
}

@media (max-width: 991px) {

    #top1,
    #top2 {
        margin: 0;
    }

    #top1 {
        margin-bottom: 7.5px;
    }

    #top2 {
        margin-top: 7.5px;
    }
}

.fa-angle-down {
    font-size: 35px;
}

@media (max-width: 992px) {
    .fa-angle-down {
        padding-bottom: 10px;
    }
}


.btn_down {
    color: white;
}

.btn_down:hover {
    color: #00897b;
}

#About_us {
    padding-top: 115px;
    padding-bottom: 115px;
}

h2 {

    font-family: Open Sans Bold;
    font-size: 28px;
    letter-spacing: 1.5px;
    margin: 0;
    padding-bottom: 33px;
}

.about-text,
.about-item-text {
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;

}

.about-text {
    padding-bottom: 118px;
}

.about-items {
    text-align: center;
}

.about-item {
    font-family: Open Sans SemiBold;
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 18px;
}

.about_img {
    padding-bottom: 39px;
}

.about_img img {
    height: 60px;
}


.about-item-text {
    margin: 0 auto;
    width: 242px;

}


#Our_services {
    background-color: #e4fdf9;
    padding-top: 161px;
    padding-bottom: 161px;
}

.service-text {
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
    padding-bottom: 102px;

}

.service-item {
    /* width: 352px;
    height: 417px; */
    background-color: white;
    padding-top: 56px;
}

.service_img {
    margin: auto;
    width: 55px;
    height: 59px;
    background: url(../img/icons/smartphone.png);
    margin-bottom: 32px;
}

.service-header {
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.service-items-text {
    margin: 0 auto;
    width: 258px;
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
}

@media (max-width: 992px) {
    .service-items-text {
        width: auto;
        padding: 0 10px 0 10px;
    }
}

.service-button {
    padding-top: 41px;
    padding-bottom: 46px;
}

.service-btn {
    border-radius: 0;
    border: 2px solid #212121;
    padding: 14px 20px 14px 20px;
    letter-spacing: 1px;
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}

.research1:hover {
    background-color: #00897b;
}

.research1:hover>.research2 {
    background: url(../img/icons/smartphone2.png);
}

.research1:hover>.research3 {
    color: white;
}

.research1:hover>.research4 {
    color: white;
}

.research1:hover .research5 {
    border: 2px solid white;
    color: white;
}

.portf1:hover {
    background-color: #00897b;
}

.portf1:hover>.portf2 {
    background: url(../img/icons/smartphone2.png);
}

.portf1:hover>.portf3 {
    color: white;
}

.portf1:hover>.portf4 {
    color: white;
}

.portf1:hover .portf5 {
    border: 2px solid white;
    color: white;
}

.sup1:hover {
    background-color: #00897b;
}

.sup1:hover>.sup2 {
    background: url(../img/icons/smartphone2.png);
}

.sup1:hover>.sup3 {
    color: white;
}

.sup1:hover>.sup4 {
    color: white;
}

.sup1:hover .sup5 {
    border: 2px solid white;
    color: white;
}

.doc1:hover {
    background-color: #00897b;
}

.doc1:hover>.doc2 {
    background: url(../img/icons/smartphone2.png);
}

.doc1:hover>.doc3 {
    color: white;
}

.doc1:hover>.doc4 {
    color: white;
}

.doc1:hover .doc5 {
    border: 2px solid white;
    color: white;
}

.dev1:hover {
    background-color: #00897b;
}

.dev1:hover>.dev2 {
    background: url(../img/icons/smartphone2.png);
}

.dev1:hover>.dev3 {
    color: white;
}

.dev1:hover>.dev4 {
    color: white;
}

.dev1:hover .dev5 {
    border: 2px solid white;
    color: white;
}

.des1:hover {
    background-color: #00897b;
}

.des1:hover>.des2 {
    background: url(../img/icons/smartphone2.png);
}

.des1:hover>.des3 {
    color: white;
}

.des1:hover>.des4 {
    color: white;
}

.des1:hover .des5 {
    border: 2px solid white;
    color: white;
}

.service-items1 {
    padding-bottom: 28px;
}

#Contact_us {
    height: 1191px;
    background-image: url(../img/contact.png);
    background-size: cover;
    background-position: center;
}

#contact-header {
    color: white;
    padding-top: 120px;
}

.contact-text {
    color: white;
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
    padding-bottom: 95px;
}

.contact_img {
    margin: auto;
    width: 103px;
    height: 102px;
    margin-bottom: 33px;
}

.contact-item-text {
    font-family: Open Sans SemiBold;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}

#adress {
    margin: auto;
    width: 237px;
}

#phone {
    margin: auto;
    width: 164px;
}

#mail {
    margin: auto;
    width: 247px;
}

#Form {
    padding-top: 74px;

}

#flex-form {
    display: flex;
    justify-content: center;
}

#name {
    width: 475px;
    height: 80px;
    border: none;
    border-radius: 9px;
    background-color: #ffffff;
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
    margin-right: 29px;
}


@media (max-width: 1199px) {
    #name {
        width: 450.5px;
    }
}
@media (max-width: 991px) {
    #name {
        width: 330.5px;
    }
}

#email {
    width: 475px;
    height: 80px;
    border: none;
    border-radius: 9px;
    background-color: #ffffff;
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}

@media (max-width: 1199px) {
    #email {
        width: 450.5px;
    }
}

@media (max-width: 1199px) {
    #email {
        width: 330.5px;
    }
}

input {
    padding: 33px 0 33px 20px;
}

.mes_send {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    padding-top: 27px;
    padding-left: 19px;
}

#message {
    margin-top: 31px;
    width: 979px;
    height: 307px;
    border: none;
    border-radius: 9px;
    background-color: #ffffff;
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}

@media (max-width: 1200px) {
    #message {
        height: 200px;
    }
}

#send {

    width: 210px;
    height: 67px;
    border: none;
    border-radius: 9px;
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto Bold;
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 36px;
}

#foot {
    height: 56px;
    line-height: 56px;
    color: #212121;
    font-family: Roboto Bold;
    font-size: 19px;
    letter-spacing: 1px;
}


.btn {
    cursor: url(../img/point.png), pointer !important;
}