@import url("../fonts/fonts.css");

#mainNav {
    padding: 0;
    height: 117px;
    color: #212121;

}


.navbar-brand {
    font-family: Open Sans Bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}

.nav-link {
    color: #212121 !important;
}

.nav-link:hover {
    color: #00897b !important;
}

header {
    margin: 0;
    padding: 277px 0 0;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
}

h1 {

    margin-bottom: 24px;
    font-family: Open Sans SemiBold;
    font-size: 57px;
    letter-spacing: 3px;
    line-height: 1.28;
}

#head-text {
    font-family: Open Sans Regular;
    font-size: 21px;
    margin-bottom: 102px;

    letter-spacing: 1.1px;
}

.top_button {
    padding-bottom: 92px;
}

.top {
    width: 209px;
    color: white;
    border: 3px solid #f8f8f8;
    border-color: white;
    font-family: Roboto Bold;
    font-size: 19px;
    padding: 16.5px 30px 16.5px 30px;
    border-radius: 0;
    letter-spacing: 1px;
}

.top:hover {
    color: white;
    text-decoration: none;
    background: #00897b;
    border: 3px solid #00897b;
}

#top1 {
    margin-right: 12px;
}

#top2 {
    margin-left: 12px;
}

.fa-angle-down {
    font-size: 35px;
}

.btn_down {
    color: white;
}

.btn_down:hover {
    color: #00897b;
}

#About_us {
    height: 638px;
    padding-top: 115px;
}

h2 {

    font-family: Open Sans Bold;
    font-size: 28px;
    letter-spacing: 1.5px;
    margin: 0;
    padding-bottom: 33px;
}

.about-text,
.about-item-text {
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;

}

.about-text {
    padding-bottom: 118px;
}

.about-items {
    text-align: center;
}

.about-item {
    font-family: Open Sans SemiBold;
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 18px;
}

.about_img {
    padding-bottom: 39px;
}

.about_img img {
    height: 60px;
}


.about-item-text {
    margin: 0 auto;
    width: 242px;

}

#Our_services {
    height: 1342px;
    background-color: #e4fdf9;
    padding-top: 161px;

}

.service-text {
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
    padding-bottom: 102px;

}

.service-item {
    /* width: 352px;
    height: 417px; */
    background-color: white;
    padding-top: 56px;
}

.service_img {
    margin: auto;
    width: 55px;
    height: 59px;
    background: url(../img/icons/smartphone.png);
    margin-bottom: 32px;
}

.service-header {
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.service-items-text {
    margin: 0 auto;
    width: 258px;
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
}

.service-button {
    padding-top: 41px;
    padding-bottom: 46px;
}

.service-btn {
    border-radius: 0;
    border: 2px solid #212121;
    padding: 14px 20px 14px 20px;
    letter-spacing: 1px;
    font-family: Open Sans SemiBold;
    color: #212121;
    font-size: 19px;
    letter-spacing: 1px;
}


.service-item:hover {
    background-color: #00897b;
}

.service_img:hover {
    background: url(../img/icons/smartphone2.png);
}

.service-header:hover,
.service-items-text:hover {
    color: white;
}

.service-btn:hover {
    border: 2px solid white;
    color: white;
}

.service-items1 {
    padding-bottom: 28px;
}

#Contact_us {
    height: 1191px;
    background-image: url(../img/contact.png);
    background-size: cover;
    background-position: center;
}

#contact-header {
    color: white;
    padding-top: 120px;
}

.contact-text {
    color: white;
    font-family: Open Sans Regular;
    font-size: 14px;
    letter-spacing: 0.75px;
    padding-bottom: 95px;
}

.contact_img {
    margin: auto;
    width: 103px;
    height: 102px;
    margin-bottom: 33px;
}

.contact-item-text {
    font-family: Open Sans SemiBold;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}

#adress {
    margin: auto;
    width: 237px;
}

#phone {
    margin: auto;
    width: 164px;
}

#mail {
    margin: auto;
    width: 247px;
}